[submodule "shared_matrix"]
	path = shared_matrix
	url = https://github.com/qhgz2013/shared_matrix.git
[submodule "mathshare"]
	path = matshare
	url = https://github.com/EastEriq/matshare.git
[submodule "matlab-posix-mqueue"]
	path = matlab-posix-mqueue
	url = https://github.com/EastEriq/matlab-posix-mqueue.git
[submodule "matlab-shared-pointer"]
	path = matlab-shared-pointer
	url = https://github.com/EastEriq/matlab-shared-pointer.git
